/* Dark theme for the entire component */
.movie-order-confirmed {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #222;
    color: #fff;
    /* margin-top: 100px; */
  }
  
  /* Dark theme for headings */
  .movie-order-confirmed h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .movie-order-confirmed h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* Dark theme for movie details section */
  .movie-order-confirmed .movie-details {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.movie-order-confirmed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recommendation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recom-card{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

.recomImg{
    max-width: 20%;;
}

.movie-order-confirmed{
    margin-top: 32px!important;
}
p{
    padding-left: 20px;
}