.heading{
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 40px;
}

.login-container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3%;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.2s;
    font-size: 16px;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input:focus {
    border-color: #bd5e23;
  }
  
  button {
    width: 45%;
    padding: 12px 0;
    background-color: #525455;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 20px;
  }
  
  button:hover {
    /* background-color: #0056b3; */
    background-color: #b46023;
    letter-spacing: .10em;

  }
  
  .login-container > *:last-child {
    margin-bottom: 0;
  }
  .login-container > * {
    margin-bottom: 15px;
  }
  
 a{
  text-decoration: none;
  color: white
 }
 
#login-new-user{
  
  margin-top: 20px;
}

.forgot-password{
  margin-left: 50px;
}


.login-container > h2:nth-child(1){
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('src/images/login-background.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}
